<form action="/register" method="POST">
  <div class="field">
		<label class="label" style="color: white" for="firstName">First Name</label>
		<input class="input" id="firstName" name="firstName" placeholder="Enter first name" type="text" />
	</div>
	<div class="field">
		<label class="label" style="color: white" for="lastName">Last Name</label>
		<input class="input" id="lastName" name="lastName" placeholder="Enter last name" type="text" />
	</div>
  <div class="field">
    <label for="email" style="color: white" class="label">Email</label>
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
  </div>
  <div class="field">
    <label for="password" style="color: white" class="label">Password</label>
    <input class="input" id="password"type="password" placeholder="Enter Password" name="password">
  </div>
  <div class="field" style="color:white">
		<strong style="color:white; padding: 10px"> Selected: {{$user.role}}</strong>
		<label>
			<input type="radio" value="Homeowner" /> Homeowner
		</label>
		<label>
			<input type="radio" value="Student" /> Student
		</label>
	</div>
  <div class="field is-grouped">
    <button class="button is-link" style="background-color: rgb(103, 168, 233);">Sign up</button>
  </div>
</form>