<form action="/register" method="POST">
  <div class="field">
    <label for="firstName" style="color: white" class="label">First Name</label>
    <input class="input" id="firstName" type="text" placeholder="Enter first name" name="firstName">
  </div>
   <div class="field">
    <label for="lastName" style="color: white" class="label">Last Name</label>
    <input class="input" id="lastName" type="text" placeholder="Enter last name" name="lastName">
  </div>
  <div class="field">
    <label for="email" style="color: white" class="label">Email</label>
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
  </div>
  <div class="field">
    <label for="password" style="color: white" class="label">Password</label>
    <input class="input" id="password"type="password" placeholder="Enter Password" name="password">
  </div>
  <div class="field" style="color:white">
		<label>
			<input type="radio" value="Homeowner"/> Homeowner
		</label>
		<label>
			<input type="radio" value="Student"/> Student
		</label>
	</div>
  <div class="field is-grouped">
    <button class="button is-link" style="background-color: rgb(103, 168, 233);">Student Signup</button>
  </div>
</form>