<form action="/register" method="POST">
  <div class="field">
    <label for="email" style="color: white" class="label">Email</label>
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
  </div>
  <div class="field">
    <label for="password" style="color: white" class="label">Password</label>
    <input class="input" id="password"type="password" placeholder="Enter Password" name="password">
  </div>
  <div class="field is-grouped">
    <button class="button is-link" style="background-color: rgb(103, 168, 233);">Student Signup</button>
  </div>
</form>