<form action="/studentDetail" method="POST">
<div class="field">
    <input type="image" src="https://res.cloudinary.com/ddrhze6ov/image/upload/v1704630335/image_aspe84.png" alt="upload image" width="48" height="48">
</div>
<div class="field is-horizontal"></div>
    <div class="field">
        <label for="firstname" style="color: black" class="label">First Name</label>
        <input class="input" id="firstname" type="text" placeholder="Enter first name" name="firstName">
    </div>
    <div class="field">
        <label for="college" style="color: black" class="label">College</label>
        <input class="input" id="college" type="text" placeholder="Enter college" name="college">
     </div>
     <div class="field">
        <label for="year" style="color: black" class="label">Year of study</label>
        <input class="input" id="year"type="number" placeholder="Enter Year of study" name="year">
     </div>
  <div class="box">
    <label for="information" style="color: black" class="label">Relevant information</label>
    <input class="input" id="information"type="text" placeholder="Enter relevant information" name="information">
  </div>
  <div class="field is-grouped">
    <button class="button is-link" style="background-color: rgb(49, 94, 124);">Save profile</button>
  </div>
  </div>
</form>