<div class="box has-text-centered columns m-3" style= "background-image: url('https://res.cloudinary.com/ddrhze6ov/image/upload/v1706989464/college2_qh5mpf.png')">
	<div class="column" style="background-color: rgb(75,79,155, 0.75); padding: 50px ">
		<img src="https://res.cloudinary.com/ddrhze6ov/image/upload/v1704550400/SpareRoomText_boxvkw.png" width="300" alt="img" />
	</div>
	<div class="column" style="background-color: rgb(75,79,155, 0.75)">
		<div class="title is-4" style="color:rgb(255,255,255);">{title}</div>
		<div class="subtitle is-5" style="color:rgb(255,255,255);">{subTitle}</div>
	</div>
	<div class="column" style="background-color: rgb(75,79,155, 0.75)">
		<i class="fas fa-user fa-3x" style="color:rgb(120, 152, 167); padding: 20px" />
		{#if $user.email}
			<div class="is-size-7">{$user.email}</div>
		{:else}
			<div class="is-size-7" style="color:rgb(255,255,255);">SpareRoom</div>
		{/if}
	</div>
</div>