<div class="box has-text-centered columns m-2">
  <a href="/signup" class="column">
    <i class="button is link fas fa-user-edit fa-1.5x" style="padding: 5px; color:floralwhite; background-color:rgb(40, 103, 134)"> <br> Signup</i>
  </a>
  <a href="/login" class="column">
    <i class="button is link; fas fa-user-edit fa-1.5x" style="padding: 5px; color: floralwhite; background-color:green"> <br> Login </i>
  </a>
</div>