<div class="box has-text-centered columns m-2">
  <a href="/studentSignup" class="column">
    <i class="button is link; fas fa-graduation-cap fa-1.5x" style="padding: 5px; color:floralwhite; background-color:rgb(40, 103, 134)"> <br> Student Signup</i>
  </a>
  <a href="/homeownerSignup" class="column">
      <i class="button is link; fas fa-house-user fa-1.5x" style="padding: 5px; color:floralwhite; background-color:rgb(40, 103, 134)"> <br> Homeowner signup </i>
    </a>
  <a href="/login" class="column">
    <i class="button is link; fas fa-user-edit fa-1.5x" style="padding: 5px; color: floralwhite; background-color:green"> <br> Login </i>
  </a>
</div>