<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="SpareRoom" subTitle="Advertise your spare room"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="https://res.cloudinary.com/ddrhze6ov/image/upload/v1704550400/SpareRoomText_boxvkw.png"/>
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Advertise your spare room</h1>
    {{> AdvertForm }}
  </div>
</div>