<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="SpareRoom" subTitle="Please Log In"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="https://res.cloudinary.com/ddrhze6ov/image/upload/v1704550408/spareroom_logo_i9f9in.png">
    <h1 class="title" style="color: rgb(40, 103, 134)">A Web Application dedicated to providing student accommodation</h1>
  </div>
  <div class="column">
    <div class="box" style="background-color: rgb(40, 103, 134)">
      <h1 class="title"></h1>
      {{> LoginForm }}
    </div>
  </div>
</div>