<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Find or post student accommodation" subTitle="Please Sign up or Log in to continue"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="https://res.cloudinary.com/ddrhze6ov/image/upload/v1704550408/spareroom_logo_i9f9in.png"/>
  </div>
  <div class="column">
    <h1 class="title">Advertise your spare bedroom</h1>
    <p>Post available accommodation for students</p>
  </div>
</div>