<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="SpareRoom" subTitle="Latest Adverts"}}
  </div>
  <div class="column">
    {{> MainNavigator }}
  </div>
</div>

<div class="columns">
  <div class="column has-text-centered">
    <img width="300" src="https://res.cloudinary.com/ddrhze6ov/image/upload/v1704550408/spareroom_logo_i9f9in.png">
  </div>
  <div class="column box has-text-centered">
    <h1 class="title is-4">Available accommodation</h1>
    {{> AdvertList }}
  </div>
</div>